body {
  background-color: rgb(79, 79, 79);
  margin: 0;
  font-family: sans-serif;
  padding: 20px;
}

h1, h2, p {
    text-align: center;
    color: whitesmoke;
  }

.center { 
    display: block;
    margin: auto;
    width: 50%;
}  


