<!--Header-->

<!--Body-->

h1, h2, p {
    text-align: center;
  }

  body {
    font-family: sans-serif;
    padding: 20px;
  }

<!--Main-->

img {
    display: block;
    margin-left: auto;
    margin-right: auto;


<!--Footer-->

