<!--Header-->

<!--Body-->
body {
     
  }
h1, h2, p {
    text-align: center;
    color: rgb(35, 33, 170);
  }

  body {
    font-family: sans-serif;
    padding: 20px;
  }

<!--Main-->

img {
    display: block;
    margin-left: auto;
    margin-right: auto;


<!--Footer-->

